.logotipo {
    width: 100%;
    text-align: center;
    font-size: 0.7em;
}

.logotipo img {
    width: 20%;
    vertical-align: middle;
}

.redes {
    width: 100%;
    text-align: center;
}

.redes img {
    width: 18%;
}

.redes ul li {
    list-style-type: none;
    display: inline;
}

footer {
    clear: both;
    width: 100%;
}

.logotipo {
    width: 50%;
    float: left;
    text-align: left;
}
.redes {
    width: 50%;
    float: right;
}

@media only screen and (min-width: 769px) {
}

footer {
    width: 100%;
    margin-bottom: 3%;
}

.logotipo {
    font-size: 1em;
}

.logotipo {
    font-size: 1em;
    width: 45%;
    float: left;
    text-align: center;
}

.logotipo img, .redes img {
    width: 45;
    height: 45px; ;
}

.redes {
    width: 45%;
    float: right;
    margin-rigth: 1%;
    text-align: center;
}